@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h2[id] {
  padding-top: 6rem;
  margin-top: -6rem;
  scroll-margin-top: 2rem;
}

.gallery-gradient-bg {
  background: radial-gradient(#f4efeb 30%, #c3b187 70%, #9d9167 100%)
}

.how-it-works-bg {
  background: radial-gradient(#f4efeb 30%, #c3b187 70%, #9d9167 100%)
}

.get-started-bg {
  background: radial-gradient(#f4efeb 25%, #c3b187 70%, #9d9167 100%)
}

.beranda-bg {
  background: linear-gradient(#f4efeb 5%, #c3b187 40%, #9d9167 100%)
}

@keyframes slideIn {
  from {
    transform: translateY(-48px);
    opacity: 0;
  }
  to {
    transform: translateY(8px);
    opacity: 1;
  }
}
.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateY(12px);
    opacity: 1;
  }
  to {
    transform: translateY(-80px);
    opacity: 0;
  }
}

.animate-slideOut {
  animation: slideOut 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}